packages:
  yum:
    amazon-efs-utils: []


commands:
  01_mount_efs:
    env:
      EFS_ID: fs-1b8f0b99
    command: "bash /tmp/mount_efs.sh"

  02_install_laravel:
    env:
      HOME: /root
    command: composer.phar global require laravel/installer

  03_install_lumen:
    env:
      HOME: /root
    command: composer.phar global require laravel/lumen-installer 


files:
  "/tmp/mount_efs.sh":
    mode: "000755"
    content: |
      #!/bin/bash

      if [[ -z ${EFS_ID} ]]; then
          echo "EFS ID not given"
          exit 1
      fi

      mkdir /public
      mkdir /session

      mount -t efs ${EFS_ID}:/public /public
      mount -t efs ${EFS_ID}:/session /session

      echo "EFS mounted at /efs"