files:
  "/etc/httpd/conf.d/index.conf":
    mode: "000755"
    content: |
      <VirtualHost *:80>    
        ServerName olfatest.com
        ServerAlias www.olfatest.com

        DocumentRoot /var/www/html
        DirectoryIndex index.php

        <Directory "/var/www/html">
            Options Indexes FollowSymLinks
            AllowOverride All
            Require all granted
        </Directory>

      </VirtualHost>

  "/etc/httpd/conf.d/php-handler.conf":
    mode: "000755"
    content: |
      <FilesMatch ".+\.ph(ar|p|tml)$">
        SetHandler application/x-httpd-php
      </FilesMatch>

      <FilesMatch ".+\.phps$">
        SetHandler application/x-httpd-php-source
        Require all denied
      </FilesMatch>

      <FilesMatch "^\.ph(ar|p|ps|tml)$">
        Require all denied
      </FilesMatch>

      <IfModule mod_userdir.c>
        <Directory /home/*/public_html>
          php_admin_flag engine Off
        </Directory>
      </IfModule>