files:
  "/etc/php.d/98-opcache.ini":
    mode: "000755"
    content: |
      opcache.memory_consumption=128
      opcache.interned_strings_buffer=8
      opcache.max_accelerated_files=4000
      opcache.revalidate_freq=60
      opcache.fast_shutdown=1
      opcache.enable_cli=1
      opcache.save_comments=0
      opcache.enable_file_override=1

  "/etc/php.d/99-session.ini":
    mode: "000755"
    content: |
      session.save_path = "/session"
      